# GENERAL
MODE=development

# *************
# DEVELOPMENT EVIRONTMENT
# *************
DEV_PORT_SERVER=6000
DEV_SECRET_KEY=Sippp!2023*

DEV_DB_NAME=db_usman
DEV_DB_USERNAME=postgres
DEV_DB_PASSWORD=jklasdf4$
DEV_DB_HOST=localhost
DEV_DB_PORT=5432

# DEV_REDIS_HOST=localhost
# DEV_REDIS_PORT=6379

DEV_SESSION_KEY=Sippp!2023*

DEV_HRD_BASE_URL=https://api-ehrd-dev.ut.ac.id/ehrd

DEV_USMAN_BASE_URL = https://dinovalley.ut.ac.id/usman

DEV_PUBLIC_FILE_IMAGE = /public/image/

DEV_PUBLIC_FILE_IMAGE_PROFIL = /public/image/profil/

DEV_FILE_SAVE_PHOTO = /home/BE/public/source_path/upload_img/si-dapet/profil/asli/

DEV_PASS_DEFAULT = "tes123"

DEV_CRYPTO_KEY=ruXiJjJkovn8Islqlc2dxraR9LmPUQ06i6Ng

DEV_API_KEY=usman2024

#DEFINE SECRETKEYBYLEVEL
#LEVEL1 
DEV_SECRET_KEY_LVL1 = masterpiece
#LEVEL2 
DEV_SECRET_KEY_LVL2 = onepiece
#LEVEL3 
DEV_SECRET_KEY_LVL3 = hoverdrive
#LEVEL4 
DEV_SECRET_KEY_LVL4 = bigbang
#LEVEL5
DEV_SECRET_KEY_LVL5 = goku




# *************
# PRODUCTION EVIRONTMENT
# *************
PROD_PORT_SERVER=8070
PROD_SECRET_KEY=Sippp!2023*

PROD_DB_NAME=example
PROD_DB_USERNAME=root
PROD_DB_PASSWORD=root
PROD_DB_HOST=localhost
PROD_DB_PORT=8889

PROD_REDIS_HOST=localhost
PROD_REDIS_PORT=6379

PROD_SESSION_KEY=Sippp!2023*

PROD_USMAN_BASE_URL=https://asset.ut.ac.id/usmanbe

PROD_HRD_BASE_URL=https://be2.ut.ac.id/hrd